@font-face {
    font-family: 'skullsandcrossbones';
    src: url('skullsandcrossbones.woff2') format('woff2'),
        url('skullsandcrossbones.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

